---
import SectionAbout from "../components/SectionAbout.astro";
import SectionHome from "../components/SectionHome.astro";
import SectionProjects from "../components/SectionProjects.astro";
---

<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>César Coello</title>

    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
      rel='stylesheet'
    />
  </head>
  <body
    class='bg-black text-white font-poppins h-screen flex flex-col px-2 md:px-8'
  >
    <!-- Header con menú hamburguesa -->
    <header
      class='bg-stone-900 px-5 md:px-8 py-4 mt-2 flex justify-between items-center rounded-full w-full max-w-screen-xl mx-auto'
    >
      <!-- Logo o Título -->
      <a href='/' class='text-white text-lg font-semibold'>César Coello.</a>

      <!-- Menú de navegación para pantallas grandes -->
      <nav class='space-x-20 hidden md:flex'>
        <a
          href='#inicio'
          class='text-white font-semibold hover:text-gray-400 transition duration-200'
          >inicio.</a
        >
        <a
          href='#proyectos'
          class='text-gray-400 hover:text-white transition duration-200'
          >proyectos.</a
        >
        <a
          href='#contacto'
          class='text-gray-400 hover:text-white transition duration-200'
          >contacto.</a
        >
      </nav>

      <!-- Menú hamburguesa en móvil -->
      <button
        id='hamburger'
        class='text-white text-2xl block md:hidden focus:outline-none'
      >
        &#9776;
      </button>
    </header>

    <!-- Modal del menú hamburguesa -->
    <div
      id='menuModal'
      class='modal fixed inset-0 bg-black bg-opacity-100 z-50 flex items-end justify-start text-center p-14'
    >
      <div class='flex flex-col items-start space-y-6'>
        <button
          id='closeMenu'
          class='text-white text-6xl absolute top-8 right-8 focus:outline-none'
        >
          &times;
        </button>
        <a
          href='#inicio'
          class='text-white text-3xl md:text-6xl font-semibold hover:text-gray-400 transition duration-200'
          >inicio.</a
        >
        <a
          href='#proyectos'
          class='text-white text-3xl md:text-6xl font-semibold hover:text-gray-400 transition duration-200'
          >proyectos.</a
        >
        <a
          href='#contacto'
          class='text-white text-3xl md:text-6xl font-semibold hover:text-gray-400 transition duration-200'
          >contacto.</a
        >
      </div>
    </div>

    <!-- Contenido principal de mi Landing Page -->
    <main
      class='flex-grow items-center justify-center w-full max-w-screen-xl mx-auto'
    >
      <SectionHome />

      <SectionAbout />

      <SectionProjects />
    </main>

    <footer
      class='bg-stone-900 px-8 py-4 mt-2 flex justify-between items-center rounded-full w-full max-w-screen-xl mx-auto'
    >
      <!-- Texto o Título -->
      <h1 class='text-white text-lg font-bold'>César Coello.</h1>

      <div class='flex items-center gap-4 md:gap-8'>
        <!-- Copyright -->
        <p class='text-gray-400 font-semibold'>&copy; 2024</p>

        <!-- Flecha para volver al inicio -->
        <a
          href='#inicio'
          class='text-white hover:text-gray-400 transition duration-200'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-7 w-7'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='3'
              d='M5 15l7-7 7 7'></path>
          </svg>
        </a>
      </div>
    </footer>
  </body>
</html>

<style>
  /* Estilo para ocultar la modal inicialmente */
  .modal {
    display: none;
  }

  /* Mostrar la modal cuando esté activa */
  .modal.active {
    display: flex;
  }

  body {
    margin: 0; /* Asegúrate de que no haya márgenes por defecto */
  }

  header {
    height: 60px; /* Establece la altura del header */
  }

  section {
    min-height: calc(100vh - 70px); /* Resta la altura del header */
  }
</style>
<script>
  const hamburger = document.getElementById("hamburger");
  const menuModal = document.getElementById("menuModal");
  const closeMenu = document.getElementById("closeMenu");

  // Abrir menú hamburguesa
  hamburger?.addEventListener("click", () => {
    menuModal?.classList.add("active");
  });

  // Cerrar menú hamburguesa
  closeMenu?.addEventListener("click", () => {
    menuModal?.classList.remove("active");
  });
</script>
