---
const props = Astro.props;
---

<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>César Coello</title>

    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
      rel='stylesheet'
    />
  </head>
  <body
    class='bg-black text-white font-poppins h-screen flex flex-col px-2 md:px-8'
  >
    <!-- Header con menú hamburguesa -->
    <header
      class='bg-stone-900 px-5 md:px-8 py-4 mt-2 flex justify-between items-center rounded-full w-full max-w-screen-xl mx-auto'
    >
      <!-- Logo o Título -->
      <a href='/' class='text-white text-lg font-semibold'>César Coello.</a>

      <!-- Menú de navegación para pantallas grandes -->
      <nav class='space-x-20 hidden md:flex'>
        <a
          href='#inicio'
          class='text-white font-semibold hover:text-gray-400 transition duration-200'
          >inicio.</a
        >
        <a
          href='#proyectos'
          class='text-gray-400 hover:text-white transition duration-200'
          >proyectos.</a
        >
        <a
          href='#contacto'
          class='text-gray-400 hover:text-white transition duration-200'
          >contacto.</a
        >
      </nav>

      <!-- Menú hamburguesa en móvil -->
      <button
        id='hamburger'
        class='text-white text-2xl block md:hidden focus:outline-none'
      >
        &#9776;
      </button>
    </header>

    <!-- Modal del menú hamburguesa -->
    <div
      id='menuModal'
      class='modal fixed inset-0 bg-black bg-opacity-100 z-50 flex items-end justify-start text-center p-14'
    >
      <div class='flex flex-col items-start space-y-6'>
        <button
          id='closeMenu'
          class='text-white text-6xl absolute top-8 right-8 focus:outline-none'
        >
          &times;
        </button>
        <a
          href='#inicio'
          class='text-white text-3xl md:text-6xl font-semibold hover:text-gray-400 transition duration-200'
          >inicio.</a
        >
        <a
          href='#proyectos'
          class='text-white text-3xl md:text-6xl font-semibold hover:text-gray-400 transition duration-200'
          >proyectos.</a
        >
        <a
          href='#contacto'
          class='text-white text-3xl md:text-6xl font-semibold hover:text-gray-400 transition duration-200'
          >contacto.</a
        >
      </div>
    </div>

    <!-- Main section que ocupa el resto de la pantalla -->
    <main
      class='flex-grow items-center justify-center w-full max-w-screen-xl mx-auto'
    >
      <section
        id='inicio'
        class='grid w-full min-h-screen max-w-screen-2xl gap-2 py-2 grid-cols-2 grid-rows-12 md:grid-cols-5 md:grid-rows-10'
      >
        <!-- Sección de presentación con nombre y título -->
        <div
          class='rounded-3xl p-5 md:p-8 col-span-2 md:col-span-3 row-span-5 md:row-span-9 bg-stone-900 text-white shadow-md flex flex-col justify-center items-start space-y-4'
        >
          <!-- Imagen del avatar con borde -->
          <div
            class='rounded-full w-24 md:w-28 h-24 md:h-28 overflow-hidden border-8 border-cyan-400'
          >
            <img
              src='avatar.jpg'
              alt='Avatar'
              class='w-full h-full object-cover'
            />
          </div>

          <!-- Texto principal -->
          <p class='text-3xl md:text-6xl font-medium mb-4'>
            Soy <span class='text-white'>César</span>, un desarrollador web
            comprometido con ayudar a su equipo a alcanzar sus metas y lograr el <span
              class='text-gray-400'>éxito de sus proyectos.</span
            >
          </p>
        </div>

        <!-- Sección de contacto -->
        <div
          class='rounded-3xl p-5 md:p-8 col-span-2 md:col-span-2 row-span-4 md:row-span-9 bg-stone-900 shadow-md flex flex-col justify-center items-center text-center'
        >
          <h2 class='text-3xl md:text-5xl font-medium mb-4 text-white'>
            ¿Quieres empezar un proyecto juntos?
          </h2>

          <!-- Enlace al correo con estilo de botón -->
          <a
            href='mailto:cesarcoellomr@gmail.com'
            class='text-base sm:text-lg text-white font-medium bg-teal-500 hover:bg-teal-600 p-4 md:p-6 rounded-full mt-4 shadow-md transition-all duration-300'
          >
            cesarcoellomr@gmail.com
          </a>
        </div>

        <!-- Redes sociales o enlaces adicionales -->
        <div
          class='col-span-2 p-5 md:p-8 rounded-full md:col-span-1 md:row-span-1 bg-stone-900 shadow-md flex items-center justify-center'
        >
          <p class='text-white'>LinkedIn</p>
        </div>

        <div
          class='col-span-1 p-5 md:p-8 rounded-full md:col-span-1 row-span-1 bg-stone-900 shadow-md flex items-center justify-center'
        >
          <p class='text-white'>GitHub</p>
        </div>

        <div
          class='col-span-1 p-5 md:p-8 rounded-full md:col-span-1 row-span-1 bg-stone-900 shadow-md flex items-center justify-center'
        >
          <p class='text-white'>Honduras</p>
        </div>

        <div
          class='col-span-1 p-5 md:p-8 rounded-full md:col-span-1 row-span-1 bg-stone-900 shadow-md flex items-center justify-center'
        >
          <p class='text-white'>Ligth/Dark</p>
        </div>

        <div
          class='col-span-1 p-5 md:p-8 rounded-full md:col-span-1 row-span-1 bg-stone-900 shadow-md flex items-center justify-center'
        >
          <p class='text-white'>CV</p>
        </div>
      </section>

      <section
        class='grid w-full max-w-screen-2xl gap-2 mb-2 grid-cols-1 grid-rows-1 md:grid-cols-5 md:grid-rows-1'
      >
        <!-- Sección de tecnologias y herramientas -->
        <div
          class='rounded-3xl p-5 md:p-8 col-span-2 md:col-span-2 row-span-1 bg-stone-900 text-white shadow-md flex flex-col justify-center items-center'
        >
          <h1
            class='text-3xl md:text-5xl font-medium mb-4 text-white text-center'
          >
            Tecnologías y <span class='text-gray-400'>herramientas</span>
          </h1>

          <!-- Contenedor de la cuadrícula de tecnologías -->
          <div class='grid grid-cols-4 gap-4 mt-4'>
            <!-- Aquí irían los iconos de las tecnologías -->
            <div
              class='bg-stone-800 p-4 rounded-lg shadow-inner flex justify-center items-center'
            >
              <img src='stack/html.svg' alt='HTML5' class='h-12 w-12' />
            </div>

            <div
              class='bg-stone-800 p-4 rounded-lg shadow-inner flex justify-center items-center'
            >
              <img src='stack/css.svg' alt='CSS3' class='h-12 w-12' />
            </div>

            <div
              class='bg-stone-800 p-4 rounded-lg shadow-inner flex justify-center items-center'
            >
              <img
                src='stack/javascript.svg'
                alt='JavaScript'
                class='h-12 w-12'
              />
            </div>

            <div
              class='bg-stone-800 p-4 rounded-lg shadow-inner flex justify-center items-center'
            >
              <img
                src='stack/bootstrap.svg'
                alt='Bootstrap'
                class='h-12 w-12'
              />
            </div>

            <!-- Fila 2 -->
            <div
              class='bg-stone-800 p-4 rounded-lg shadow-inner flex justify-center items-center'
            >
              <img
                src='stack/tailwind.svg'
                alt='TailwindCSS'
                class='h-12 w-12'
              />
            </div>

            <div
              class='bg-stone-800 p-4 rounded-lg shadow-inner flex justify-center items-center'
            >
              <img src='stack/astro.svg' alt='Astro' class='h-12 w-12' />
            </div>

            <div
              class='bg-stone-800 p-4 rounded-lg shadow-inner flex justify-center items-center'
            >
              <img src='stack/react.svg' alt='React' class='h-12 w-12' />
            </div>

            <div
              class='bg-stone-800 p-4 rounded-lg shadow-inner flex justify-center items-center'
            >
              <img src='stack/mysql.svg' alt='MySQL' class='h-12 w-12' />
            </div>

            <!-- Fila 3 -->
            <div
              class='bg-stone-800 p-4 rounded-lg shadow-inner flex justify-center items-center'
            >
              <img
                src='stack/sqlserver.svg'
                alt='SQL Server'
                class='h-12 w-12'
              />
            </div>

            <div
              class='bg-stone-800 p-4 rounded-lg shadow-inner flex justify-center items-center'
            >
              <img src='stack/plsql.svg' alt='PostgreSQL' class='h-12 w-12' />
            </div>

            <div
              class='bg-stone-800 p-4 rounded-lg shadow-inner flex justify-center items-center'
            >
              <img
                src='stack/sqldeveloper.svg'
                alt='MongoDB'
                class='h-12 w-12'
              />
            </div>

            <div
              class='bg-stone-800 p-4 rounded-lg shadow-inner flex justify-center items-center'
            >
              <img src='stack/figma.svg' alt='Figma' class='h-12 w-12' />
            </div>

            <!-- Fila 4 -->
            <div
              class='bg-stone-800 p-4 rounded-lg shadow-inner flex justify-center items-center'
            >
              <img src='stack/git.svg' alt='Git' class='h-12 w-12' />
            </div>

            <div
              class='bg-stone-800 p-4 rounded-lg shadow-inner flex justify-center items-center'
            >
              <img src='stack/github.svg' alt='GitHub' class='h-12 w-12' />
            </div>
          </div>
        </div>

        <!-- Sección de sobre mi -->
        <div
          class='rounded-3xl p-5 md:p-8 col-span-2 md:col-span-3 row-span-1 bg-stone-700 shadow-md flex flex-col justify-center items-start text-start'
        >
          <h1 class='text-6xl font-semibold mb-4 text-white'>Sobre mí</h1>

          <p id='paragraph' class='text-sm md:text-lg text-white mb-6'>
            Como ingeniero en sistemas especializado en desarrollo web, estoy
            entusiasmado por la oportunidad de aportar a su organización mi
            experiencia en la creación de aplicaciones dinámicas y escalables.
            He trabajado en diversos proyectos reales, aplicando tecnologías
            como React, HTML, CSS y utilizando metodologías ágiles como Scrum
            para asegurar entregas eficientes y colaborativas.
          </p>
          <p id='paragraph' class='text-sm md:text-lg text-white mb-6'>
            Aunque tengo algunas herramientas preferidas, siempre elijo la mejor
            para cada tarea, incluso si no está en mi lista habitual. Mi
            objetivo es proporcionar la solución adecuada para cada proyecto,
            enfocándome en la experiencia del usuario, la eficiencia y el diseño
            limpio. Además, hago uso de herramientas avanzadas para asegurar la
            calidad del código y la escalabilidad de los sistemas. Estoy
            comprometido a a ayudar a su equipo a alcanzar sus metas y a
            impulsar el éxito de sus proyectos.
          </p>
          <p id='paragraph' class='text-sm md:text-lg text-white mb-6'>
            Más allá de la programación, soy un entusiasta del diseño y la
            ilustración, para mí, son una forma de comunicar de manera visual,
            capturando emociones e ideas. Un pasatiempo que disfruto mucho es
            tocar la guitarra, ya que me permite relajarme a través de la
            música.
          </p>
        </div>
      </section>

      <section
        id='proyectos'
        class='bg-stone-900 md:min-h-screen md:h-screen grid grid-cols-5 md:grid-cols-2 grid-rows-19 md:grid-rows-6 gap-4 p-4 rounded-3xl max-w-screen-2xl'
      >
        <!-- Sección de proyectos -->
        <div
          class='rounded-3xl col-span-5 md:col-span-2 row-span-1 p-8 text-white md:flex md:justify-between md:items-start min-h-[50px]'
        >
          <h1 class='text-4xl md:text-6xl font-semibold mb-4'>Proyectos</h1>
          <a href='#proyectos' class='text-xl font-bold mb-4'>Enlace</a>
        </div>

        <!-- Proyecto 1 -->
        <div
          class='relative rounded-3xl col-span-5 md:col-span-1 row-span-6 md:row-span-5 bg-stone-800 shadow-md'
        >
          <!-- Imagen de fondo con opacidad -->
          <div
            class='absolute inset-0 bg-cover bg-center bg-opacity-50 rounded-3xl'
            style="background-image: url('/proyecto-01.jpg'); opacity: 0.4;"
          >
          </div>

          <!-- Contenido del proyecto -->
          <div
            class='relative p-5 text-white flex flex-col justify-between h-full'
          >
            <!-- Título y Descripción -->
            <div>
              <div>
                <h1 class='text-xl md:text-5xl font-semibold mb-2'>
                  Expediente Odontológico Digital
                </h1>
                <p class='text-sm md:text-lg mb-2'>
                  Análisis, diseño y desarrollo de un sistema de gestión de
                  expedientes de manera digital en la clínica odontológica de la
                  Facultad de Odontología de la UNAH.
                </p>
              </div>

              <!-- Tecnologías utilizadas -->
              <div class='flex space-x-2 items-center justify-start'>
                <img src='stack/html.svg' alt='HTML5' class='w-6 h-6' />
                <img src='stack/css.svg' alt='CSS3' class='w-6 h-6' />
                <img
                  src='stack/javascript.svg'
                  alt='JavaScript'
                  class='w-5 h-5'
                />
              </div>
            </div>

            <!-- Botón de flecha -->
            <div>
              <div class='flex justify-end items-end'>
                <button class='bg-white text-stone-900 p-2 rounded-full'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='3em'
                    height='3em'
                    viewBox='0 0 24 24'
                    {...props}
                  >
                    <path
                      fill='currentColor'
                      d='M17.6 18L8 8.4V17H6V5h12v2H9.4l9.6 9.6z'></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Proyecto 2 -->
        <div
          class='relative rounded-3xl col-span-5 md:col-span-1 row-span-6 md:row-span-2 bg-stone-800 shadow-md'
        >
          <!-- Imagen de fondo con opacidad -->
          <div
            class='absolute inset-0 bg-cover bg-center bg-opacity-50 rounded-3xl'
            style="background-image: url('/proyecto-02.jpg'); opacity: 0.3;"
          >
          </div>

          <!-- Contenido del proyecto -->
          <div
            class='relative p-5 text-white flex flex-col justify-between h-full'
          >
            <!-- Título y Descripción -->
            <div>
              <div>
                <h1 class='text-xl md:text-2xl font-semibold mb-2'>
                  Control de Presupuesto
                </h1>
                <p class='text-sm md:text-sm mb-2'>
                  Desarrollé una aplicación web para gestionar gastos personales
                  según un presupuesto establecido.
                </p>
              </div>

              <!-- Tecnologías utilizadas -->
              <div class='flex space-x-2 items-center justify-start'>
                <img src='stack/html.svg' alt='HTML5' class='w-6 h-6' />
                <img src='stack/css.svg' alt='CSS3' class='w-6 h-6' />
                <img
                  src='stack/javascript.svg'
                  alt='JavaScript'
                  class='w-5 h-5'
                />
              </div>
            </div>

            <!-- Botón de flecha -->
            <div>
              <div class='flex justify-end items-end'>
                <button
                  class='bg-white text-stone-900 w:h-12 w:w-12 p-2 rounded-full flex justify-center items-center'
                >
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='3em'
                    height='3em'
                    viewBox='0 0 24 24'
                  >
                    <path
                      fill='currentColor'
                      d='M17.6 18L8 8.4V17H6V5h12v2H9.4l9.6 9.6z'></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Proyecto 3 -->
        <div
          class='relative rounded-3xl col-span-5 md:col-span-1 row-span-6 md:row-span-3 bg-stone-800 shadow-md'
        >
          <!-- Imagen de fondo con opacidad -->
          <div
            class='absolute inset-0 bg-cover bg-center bg-opacity-50 rounded-3xl'
            style="background-image: url('/proyecto-03.jpg'); opacity: 0.4;"
          >
          </div>

          <!-- Contenido del proyecto -->
          <div
            class='relative p-5 text-white flex flex-col justify-between h-full'
          >
            <!-- Título y Descripción -->
            <div>
              <div>
                <h1 class='text-xl md:text-5xl font-semibold mb-2'>
                  Blog de Café
                </h1>
                <p class='text-sm md:text-lg mb-2'>
                  Un blog sencillo y elegante sobre café, con diseño responsivo
                  y optimizaciones de rendimiento como lazy loading y WebP.
                </p>
              </div>

              <!-- Tecnologías utilizadas -->
              <div class='flex space-x-2 items-center justify-start'>
                <img src='stack/html.svg' alt='HTML5' class='w-6 h-6' />
                <img src='stack/css.svg' alt='CSS3' class='w-6 h-6' />
                <img
                  src='stack/javascript.svg'
                  alt='JavaScript'
                  class='w-5 h-5'
                />
              </div>
            </div>

            <!-- Botón de flecha -->
            <div>
              <div class='flex justify-end items-end'>
                <button class='bg-white text-stone-900 p-2 rounded-full'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='3em'
                    height='3em'
                    viewBox='0 0 24 24'
                  >
                    <path
                      fill='currentColor'
                      d='M17.6 18L8 8.4V17H6V5h12v2H9.4l9.6 9.6z'></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer
      class='bg-stone-900 px-8 py-4 mt-2 flex justify-between items-center rounded-full w-full max-w-screen-xl mx-auto'
    >
      <!-- Texto o Título -->
      <h1 class='text-white text-lg font-bold'>César Coello.</h1>

      <!-- Copyright -->
      <p class='text-gray-400'>&copy; 2024</p>

      <!-- Flecha para volver al inicio -->
      <a
        href='#inicio'
        class='text-white hover:text-gray-400 transition duration-200'
      >
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='h-6 w-6'
          fill='none'
          viewBox='0 0 24 24'
          stroke='currentColor'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M5 15l7-7 7 7'></path>
        </svg>
      </a>
    </footer>
  </body>
</html>

<style>
  /* Estilo para ocultar la modal inicialmente */
  .modal {
    display: none;
  }

  /* Mostrar la modal cuando esté activa */
  .modal.active {
    display: flex;
  }

  body {
    margin: 0; /* Asegúrate de que no haya márgenes por defecto */
  }

  header {
    height: 60px; /* Establece la altura del header */
  }

  section {
    min-height: calc(100vh - 70px); /* Resta la altura del header */
  }
</style>
<script>
  const hamburger = document.getElementById("hamburger");
  const menuModal = document.getElementById("menuModal");
  const closeMenu = document.getElementById("closeMenu");

  // Abrir menú hamburguesa
  hamburger?.addEventListener("click", () => {
    menuModal?.classList.add("active");
  });

  // Cerrar menú hamburguesa
  closeMenu?.addEventListener("click", () => {
    menuModal?.classList.remove("active");
  });
</script>
