---
import MainLayout from "../Layouts/MainLayout.astro";
const props = Astro.props;
---

<MainLayout
  title='César Coello | Proyectos'
  optionUno='Inicio'
  urlUno='/'
  optionDos='Sobre mí'
  urlDos='/#about'
  optionTres='Proyectos'
  urlTres='/#projects'
>
  <section id='' class='bg-stone-900 p-8 mt-2 rounded-3xl max-w-screen-2xl'>
    <div
      class='rounded-3xl col-span-5 md:col-span-2 row-span-1 p-5 md:p-8 text-white md:flex md:justify-between md:items-center min-h-[50px]'
    >
      <h1 class='text-5xl md:text-6xl font-semibold mb-2'>Proyectos</h1>
      <a
        href='/#projects'
        class='text-lg font-regular text-gray-400 mb-4 underline'>Regresar</a
      >
    </div>

    <!-- Todos los proyectos -->
    <div class='grid grid-cols-2 gap-4'>
      <!-- Proyecto 1 -->
      <div
        class='relative rounded-3xl col-span-5 md:col-span-1 bg-black shadow-md'
      >
        <!-- Imagen de fondo con opacidad -->
        <div
          class='absolute inset-0 bg-cover bg-center bg-opacity-50 rounded-3xl'
          style="background-image: url('/proyecto-02.jpg'); opacity: 0.3;"
        >
        </div>

        <!-- Contenido del proyecto -->
        <div
          class='relative p-5 text-white flex flex-col justify-between h-full'
        >
          <!-- Título y Descripción -->
          <div>
            <div>
              <h1 class='text-xl md:text-2xl font-semibold mb-2'>
                Control de Presupuesto
              </h1>
              <p class='text-sm md:text-sm mb-2'>
                Desarrollé una aplicación web para gestionar gastos personales
                según un presupuesto establecido.
              </p>
            </div>

            <!-- Tecnologías utilizadas -->
            <div class='flex space-x-2 items-center justify-start'>
              <img src='stack/html.svg' alt='HTML5' class='w-6 h-6' />
              <img src='stack/css.svg' alt='CSS3' class='w-6 h-6' />
              <img
                src='stack/javascript.svg'
                alt='JavaScript'
                class='w-5 h-5'
              />
            </div>
          </div>

          <!-- Botón de flecha -->
          <div>
            <a class='flex justify-end items-end'>
              <button
                class='bg-white hover:bg-transparent text-stone-900 w:h-12 w:w-12 p-2 rounded-full flex justify-center items-center'
              >
                <svg
                  class='hover:text-white hover:font-black'
                  xmlns='http://www.w3.org/2000/svg'
                  width='3em'
                  height='3em'
                  viewBox='0 0 24 24'
                >
                  <path
                    fill='currentColor'
                    d='M17.6 18L8 8.4V17H6V5h12v2H9.4l9.6 9.6z'></path>
                </svg>
              </button>
            </a>
          </div>
        </div>
      </div>
      <!-- TErmina Proyecto 1 -->
    </div>
  </section>
</MainLayout>
