---

---

<footer
  class='bg-stone-900 bg-opacity-85 px-8 py-4 mt-2 flex justify-between items-center rounded-full w-full max-w-screen-xl mx-auto my-0'
>
  <!-- Texto o Título -->
  <h1 class='text-white text-lg font-semibold'>César Coello</h1>

  <div class='flex items-center gap-4 md:gap-8'>
    <!-- Copyright -->
    <p class='text-gray-400 font-semibold'>&copy; 2024</p>

    <!-- Flecha para volver al inicio -->
    <a
      href='#navbar'
      class='text-white hover:text-gray-400 transition duration-200'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        class='h-7 w-7'
        fill='none'
        viewBox='0 0 24 24'
        stroke='currentColor'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='3'
          d='M5 15l7-7 7 7'></path>
      </svg>
    </a>
  </div>
</footer>
