---
export interface Props {
  title: string;
  url?: string;
}

const { title, url } = Astro.props;
---

<div
  class='col-span-1 p-5 md:p-8 rounded-full md:col-span-3 row-span-1 bg-stone-900 shadow-md flex items-center justify-center'
>
  <a
    href={url}
    target='_blank'
    rel='noopener noreferrer'
    class='text-white font-semibold text-md hover:text-lg transition-transform duration-300 hover:text-gray-400'
  >
    {title}
  </a>
</div>
