---
const props = Astro.props;
---

<section
  id='proyectos'
  class='bg-stone-900 md:min-h-screen md:h-screen grid grid-cols-5 md:grid-cols-2 grid-rows-19 md:grid-rows-6 gap-4 p-4 rounded-3xl max-w-screen-2xl'
>
  <!-- Sección de proyectos -->
  <div
    class='rounded-3xl col-span-5 md:col-span-2 row-span-1 p-5 md:p-8 text-white md:flex md:justify-between md:items-center min-h-[50px]'
  >
    <h1 class='text-5xl md:text-6xl font-semibold mb-2'>Proyectos</h1>
    <a
      href='#proyectos'
      class='text-lg font-regular text-gray-400 mb-4 underline'
      >Ver todos los proyectos</a
    >
  </div>

  <!-- Proyecto 1 -->
  <div
    class='relative rounded-3xl col-span-5 md:col-span-1 row-span-6 md:row-span-5 bg-black shadow-md'
  >
    <!-- Imagen de fondo con opacidad -->
    <div
      class='absolute inset-0 bg-cover bg-center bg-opacity-50 rounded-3xl'
      style="background-image: url('/proyecto-01.jpg'); opacity: 0.4;"
    >
    </div>

    <!-- Contenido del proyecto -->
    <div class='relative p-5 text-white flex flex-col justify-between h-full'>
      <!-- Título y Descripción -->
      <div>
        <div>
          <h1 class='text-xl md:text-5xl font-semibold mb-2'>
            Expediente Odontológico Digital
          </h1>
          <p class='text-sm md:text-lg mb-2'>
            Análisis, diseño y desarrollo de un sistema de gestión de
            expedientes de manera digital en la clínica odontológica de la
            Facultad de Odontología de la UNAH.
          </p>
        </div>

        <!-- Tecnologías utilizadas -->
        <div class='flex space-x-2 items-center justify-start'>
          <img src='stack/html.svg' alt='HTML5' class='w-6 h-6' />
          <img src='stack/css.svg' alt='CSS3' class='w-6 h-6' />
          <img src='stack/javascript.svg' alt='JavaScript' class='w-5 h-5' />
        </div>
      </div>

      <!-- Botón de flecha -->
      <div>
        <div class='flex justify-end items-end'>
          <button class='bg-white text-stone-900 p-2 rounded-full'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='3em'
              height='3em'
              viewBox='0 0 24 24'
              {...props}
            >
              <path
                fill='currentColor'
                d='M17.6 18L8 8.4V17H6V5h12v2H9.4l9.6 9.6z'></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Proyecto 2 -->
  <div
    class='relative rounded-3xl col-span-5 md:col-span-1 row-span-6 md:row-span-2 bg-black shadow-md'
  >
    <!-- Imagen de fondo con opacidad -->
    <div
      class='absolute inset-0 bg-cover bg-center bg-opacity-50 rounded-3xl'
      style="background-image: url('/proyecto-02.jpg'); opacity: 0.3;"
    >
    </div>

    <!-- Contenido del proyecto -->
    <div class='relative p-5 text-white flex flex-col justify-between h-full'>
      <!-- Título y Descripción -->
      <div>
        <div>
          <h1 class='text-xl md:text-2xl font-semibold mb-2'>
            Control de Presupuesto
          </h1>
          <p class='text-sm md:text-sm mb-2'>
            Desarrollé una aplicación web para gestionar gastos personales según
            un presupuesto establecido.
          </p>
        </div>

        <!-- Tecnologías utilizadas -->
        <div class='flex space-x-2 items-center justify-start'>
          <img src='stack/html.svg' alt='HTML5' class='w-6 h-6' />
          <img src='stack/css.svg' alt='CSS3' class='w-6 h-6' />
          <img src='stack/javascript.svg' alt='JavaScript' class='w-5 h-5' />
        </div>
      </div>

      <!-- Botón de flecha -->
      <div>
        <div class='flex justify-end items-end'>
          <button
            class='bg-white text-stone-900 w:h-12 w:w-12 p-2 rounded-full flex justify-center items-center'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='3em'
              height='3em'
              viewBox='0 0 24 24'
            >
              <path
                fill='currentColor'
                d='M17.6 18L8 8.4V17H6V5h12v2H9.4l9.6 9.6z'></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Proyecto 3 -->
  <div
    class='relative rounded-3xl col-span-5 md:col-span-1 row-span-6 md:row-span-3 bg-black shadow-md'
  >
    <!-- Imagen de fondo con opacidad -->
    <div
      class='absolute inset-0 bg-cover bg-center bg-opacity-50 rounded-3xl'
      style="background-image: url('/proyecto-03.jpg'); opacity: 0.4;"
    >
    </div>

    <!-- Contenido del proyecto -->
    <div class='relative p-5 text-white flex flex-col justify-between h-full'>
      <!-- Título y Descripción -->
      <div>
        <div>
          <h1 class='text-xl md:text-5xl font-semibold mb-2'>Blog de Café</h1>
          <p class='text-sm md:text-lg mb-2'>
            Un blog sencillo y elegante sobre café, con diseño responsivo y
            optimizaciones de rendimiento como lazy loading y WebP.
          </p>
        </div>

        <!-- Tecnologías utilizadas -->
        <div class='flex space-x-2 items-center justify-start'>
          <img src='stack/html.svg' alt='HTML5' class='w-6 h-6' />
          <img src='stack/css.svg' alt='CSS3' class='w-6 h-6' />
          <img src='stack/javascript.svg' alt='JavaScript' class='w-5 h-5' />
        </div>
      </div>

      <!-- Botón de flecha -->
      <div>
        <div class='flex justify-end items-end'>
          <button class='bg-white text-stone-900 p-2 rounded-full'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='3em'
              height='3em'
              viewBox='0 0 24 24'
            >
              <path
                fill='currentColor'
                d='M17.6 18L8 8.4V17H6V5h12v2H9.4l9.6 9.6z'></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
