---
export interface Props {
  name: string;
  icon: string;
}

const { name, icon } = Astro.props;
---

<div
  class='relative p-4 rounded-lg shadow-inner flex justify-center items-center group aspect-square w-full max-w-[100px]'
>
  <!-- Fondo con opacidad -->
  <div
    class='absolute inset-0 bg-stone-400 opacity-30 rounded-lg pointer-events-none'
  >
  </div>

  <img src={icon} alt={name} class='h-3/4 w-3/4 z-10' />

  <!-- Tooltip personalizado -->
  <span
    class='absolute top-0 mt-[-40px] left-1/2 transform -translate-x-1/2 bg-gray-900 text-white text-sm rounded px-3 py-1 opacity-0 group-hover:opacity-100 transition-opacity duration-200 pointer-events-none z-50'
  >
    {name}
  </span>
</div>
