---
import Paragraph from "../components/Paragraph.astro";
import StackCard from "../components/StackCard.astro";
import { stack } from "../data/stack";

const paragraph = [
  {
    content: `Como ingeniero en sistemas especializado en desarrollo web, estoy
      entusiasmado por la oportunidad de aportar a su organización mi
      experiencia en la creación de aplicaciones dinámicas y escalables. He
      trabajado en diversos proyectos reales, aplicando tecnologías como React,
      HTML, CSS y utilizando metodologías ágiles como Scrum para asegurar
      entregas eficientes y colaborativas.`,
  },
  {
    content: `Aunque tengo algunas herramientas preferidas, siempre elijo la mejor para
      cada tarea, incluso si no está en mi lista habitual. Mi objetivo es
      proporcionar la solución adecuada para cada proyecto, enfocándome en la
      experiencia del usuario, la eficiencia y el diseño limpio. Además, hago
      uso de herramientas avanzadas para asegurar la calidad del código y la
      escalabilidad de los sistemas. Estoy comprometido a a ayudar a su equipo a
      alcanzar sus metas y a impulsar el éxito de sus proyectos.`,
  },
  {
    content: ` Más allá de la programación, soy un entusiasta del diseño y la
      ilustración, para mí, son una forma de comunicar de manera visual,
      capturando emociones e ideas. Un pasatiempo que disfruto mucho es tocar la
      guitarra, ya que me permite relajarme a través de la música.`,
  },
];
---

<section
  id='about'
  class='grid w-full max-w-screen-2xl gap-2 my-2 grid-cols-1 grid-rows-1 md:grid-cols-5 md:grid-rows-1'
>
  <!-- Sección de tecnologias y herramientas -->
  <div
    class='rounded-3xl p-5 md:p-8 col-span-2 md:col-span-2 row-span-1 bg-stone-900 text-white shadow-md flex flex-col justify-center items-center'
  >
    <h1 class='text-3xl md:text-5xl font-medium mb-4 text-white text-center'>
      Tecnologías y <span class='text-gray-400'>herramientas</span>
    </h1>

    <!-- Contenedor de la cuadrícula de tecnologías -->
    <div class='grid grid-cols-4 gap-2'>
      <!-- Aquí irían los iconos de las tecnologías -->

      {stack.map(({ name, icon }) => <StackCard name={name} icon={icon} />)}
    </div>
  </div>

  <!-- Sección de sobre mi -->
  <div
    class='rounded-3xl p-5 md:p-8 col-span-2 md:col-span-3 row-span-1 bg-stone-900 shadow-md flex flex-col justify-center items-start text-start'
  >
    <h1 class='text-6xl font-semibold mb-4 text-white'>Sobre mí</h1>

    {paragraph.map(({ content }) => <Paragraph content={content} />)}
  </div>
</section>
