---
import LinkCard from "../components/LinkCard.astro";

const enlaces = [
  { title: "LinkedIn", url: "https://www.linkedin.com/in/cesarcoello" },
  { title: "GitHub", url: "https://github.com/cesarcoello" },
];

const email = "cesarcoellomr@gmail.com";
const props = Astro.props;
---

<section
  id='home'
  class='grid h-1/4 md:h-full w-full max-w-screen-2xl gap-2 pt-2 grid-cols-2 grid-rows-12 md:grid-cols-9 md:grid-rows-10'
>
  <!-- Sección de presentación con nombre y título -->
  <div
    class='rounded-3xl p-5 md:p-8 col-span-2 md:col-span-5 row-span-7 md:row-span-9 bg-stone-900 text-white shadow-md flex flex-col justify-center items-start space-y-4'
  >
    <!-- Imagen del avatar con borde -->
    <div
      class='rounded-full w-24 md:w-28 h-24 md:h-28 overflow-hidden border-4 border-cyan-500'
    >
      <img src='avatar.jpg' alt='Avatar' class='w-full h-full object-cover' />
    </div>

    <!-- Texto principal -->
    <p class='text-3xl sm:text-4xl md:text-5xl font-medium mb-4'>
      Soy <span class='text-white'>César</span>, un desarrollador web
      comprometido con ayudar a su equipo a alcanzar sus metas y lograr el <span
        class='text-gray-400'>éxito de sus proyectos.</span
      >
    </p>
  </div>

  <!-- Sección de contacto -->
  <div
    class='rounded-3xl p-5 md:p-8 col-span-2 md:col-span-4 row-span-3 md:row-span-9 bg-stone-900 shadow-md flex flex-col justify-center items-center text-center'
  >
    <h2
      class='text-xl sm:text-3xl md:text-4xl lg:text-5xl font-medium mb-4 text-white'
    >
      ¿Quieres empezar un <span class=''>proyecto</span> juntos?
    </h2>

    <!-- Enlace al correo con estilo de botón -->
    <a
      href='mailto:cesarcoellomr@gmail.com'
      class='text-base sm:text-lg text-white font-medium bg-cyan-600 hover:bg-cyan-700 p-4 md:p-6 rounded-full mt-4 transition-all duration-300 hover:text-lg md:hover:text-xl'
    >
      cesarcoellomr@gmail.com
    </a>

    <!-- Botón para copiar el correo -->
    <button
      id='copy-email-button'
      class='flex justify-center items-center gap-2 text-xs py-2 text-stone-500 hover:text-stone-600 underline transition-colors duration-300 ease-in-out mt-2'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='1em'
        height='1em'
        viewBox='0 0 24 24'
      >
        <g fill='none' stroke='currentColor' stroke-width='1.5'>
          <path
            d='M6 11c0-2.828 0-4.243.879-5.121C7.757 5 9.172 5 12 5h3c2.828 0 4.243 0 5.121.879C21 6.757 21 8.172 21 11v5c0 2.828 0 4.243-.879 5.121C19.243 22 17.828 22 15 22h-3c-2.828 0-4.243 0-5.121-.879C6 20.243 6 18.828 6 16z'
          ></path>
          <path
            d='M6 19a3 3 0 0 1-3-3v-6c0-3.771 0-5.657 1.172-6.828S7.229 2 11 2h4a3 3 0 0 1 3 3'
          ></path>
        </g>
      </svg>
      <span id='copy-email-text'>Copiar correo</span>
    </button>
  </div>

  <!-- Redes sociales o enlaces adicionales -->
  {enlaces.map(({ title, url }) => <LinkCard title={title} url={url} />)}

  <!-- Enlace Curriculum -->
  <div
    class='col-span-2 p-5 md:p-8 rounded-full md:col-span-3 row-span-1 bg-stone-900 shadow-md flex items-center justify-center hover:text-lg hover:text-gray-400'
  >
    <a
      href='resume-cesarcoello.pdf'
      download='resume-cesar-coello'
      class='text-white font-semibold'
    >
      CV
    </a>
  </div>
</section>

<script>
  function enableCopyButton() {
    const copyButton = document.getElementById("copy-email-button");
    const copyTextSpan = document.getElementById("copy-email-text");

    if (copyButton && copyTextSpan) {
      // Verifica que ambos elementos no sean null
      copyButton.addEventListener("click", () => {
        const correo = "cesarcoellomr@gmail.com";
        navigator.clipboard.writeText(correo).then(() => {
          // Cambia el texto a "Copiado"
          copyTextSpan.textContent = "¡Copiado!";

          // Después de 2 segundos, vuelve a "Copiar correo"
          setTimeout(() => {
            copyTextSpan.textContent = "Copiar correo";
          }, 2000); // 2 segundos
        });
      });
    }
  }

  document.addEventListener("astro:after-swap", enableCopyButton); // Se ejecuta después de cada cambio de página
  document.addEventListener("DOMContentLoaded", enableCopyButton); // Se ejecuta en la carga inicial
</script>

<style>
  @media (min-width: 768px) {
    section {
      max-height: calc(100vh - 70px); /* Resta la altura del header */
    }
  }
</style>
