---
const enlaces = [
  { title: "LinkedIn", url: "https://www.linkedin.com/in/cesarcoello" },
  { title: "GitHub", url: "https://github.com/cesarcoello" },
  { title: "Honduras", url: "https://www.google.com/maps/place/Honduras" },
];
---

<section
  id='home'
  class='grid w-full max-w-screen-2xl gap-2 py-2 grid-cols-2 grid-rows-12 md:grid-cols-5 md:grid-rows-10'
>
  <!-- Sección de presentación con nombre y título -->
  <div
    class='rounded-3xl p-5 md:p-8 col-span-2 md:col-span-3 row-span-5 md:row-span-9 bg-stone-900 text-white shadow-md flex flex-col justify-center items-start space-y-4'
  >
    <!-- Imagen del avatar con borde -->
    <div
      class='rounded-full w-24 md:w-28 h-24 md:h-28 overflow-hidden border-4 border-cyan-400'
    >
      <img src='avatar.jpg' alt='Avatar' class='w-full h-full object-cover' />
    </div>

    <!-- Texto principal -->
    <p class='text-3xl md:text-5xl font-medium mb-4'>
      Soy <span class='text-white'>César</span>, un desarrollador web
      comprometido con ayudar a su equipo a alcanzar sus metas y lograr el <span
        class='text-gray-400'>éxito de sus proyectos.</span
      >
    </p>
  </div>

  <!-- Sección de contacto -->
  <div
    class='rounded-3xl p-5 md:p-8 col-span-2 md:col-span-2 row-span-4 md:row-span-9 bg-stone-900 shadow-md flex flex-col justify-center items-center text-center'
  >
    <h2 class='text-2xl md:text-4xl font-medium mb-4 text-white'>
      ¿Quieres empezar un <span class='font-semibold'>proyecto</span> juntos?
    </h2>

    <!-- Enlace al correo con estilo de botón -->
    <a
      href='mailto:cesarcoellomr@gmail.com'
      class='text-base sm:text-lg text-white font-medium bg-cyan-500 hover:bg-cyan-600 p-4 md:p-6 rounded-full mt-4 shadow-md transition-all duration-300'
    >
      cesarcoellomr@gmail.com
    </a>
  </div>

  <!-- Redes sociales o enlaces adicionales -->

  {
    enlaces.map(({ title, url }) => (
      <div class='col-span-1 p-5 md:p-8 rounded-full md:col-span-1 row-span-1 bg-stone-900 shadow-md flex items-center justify-center'>
        <a
          href={url}
          download='Curriculum'
          target='_blank'
          rel='noopener noreferrer'
          class='text-white  font-semibold'
        >
          {title}
        </a>
      </div>
    ))
  }

  <div
    class='col-span-1 p-5 md:p-8 rounded-full md:col-span-1 row-span-1 bg-stone-900 shadow-md flex items-center justify-center'
  >
    <a
      href='public/resume-cesarcoello.pdf'
      download='resume-cesar-coello'
      target='_blank'
      rel='noopener noreferrer'
      class='text-white font-semibold'
    >
      CV
    </a>
  </div>

  <div
    class='col-span-2 md:col-span-1 p-5 md:p-8 rounded-full row-span-1 bg-stone-900 shadow-md flex items-center justify-center'
  >
    <a href='/' class='text-white font-semibold'> Light/Dark </a>
  </div>
</section>

<style>
  @media (min-width: 768px) {
    section {
      max-height: calc(100vh - 70px); /* Resta la altura del header */
    }
  }
</style>
